$dark-purple: #23232e;
$white: #ffffff;
$light-grey: #818181;
$light-purple: #7b77c9;

//fonts
$body-font-size: 16px;
$main-font-family: 'Raleway', sans-serif;
$work-title-size:18px;
$icons-size:30px;

//responsive
$breakpoint-small-laptop:1199px;
