@import 'variables','functions';

body {
	font-family: $main-font-family;
}

.main-wrapper {}

.header-row {
	background-color: $dark-purple;
}

.img-logo {
	padding: 120px 30% 100px;
}

.header-text {
	color: $white;
	font-weight: 700;
	text-align: center;
}

.header-p {
	color: $white;
	text-align: center;
	margin-bottom: 50px;
}

.about-me {
	width: 50%;
	margin-left: 24%;
	margin-top: 50px;
}

#first-about,
#second-about {
	text-align: center;
	font-size: $body-font-size;
}
#skills-title {
	margin-bottom: 50px;
	color: $light-grey;
	font-weight: 500;
	text-align: center;
}

.skills-row {
	width: 100%;
	background-color: $dark-purple;
}
.first-work-row {
	display: flex;
}
.work-boxes {
	margin-left: 20px;
	width: 30%;
	height: 220px;
	background-color: $light-purple;
	float: left;
}
.work-desc{
}
.text-boxes{
	margin-left: 20px;
	width: 30%;
	height: auto;
	float: left;
}
.work-title,.work-p{
	color: $white;
	text-align: center;
}
.work-title{
	font-size: $work-title-size;
}
#btn-row{
	margin-top: 50px;
	margin-bottom: 50px;
}
.btn-contact{
	margin-left: 160px;
	border-radius: 0px;
	background-color: $light-purple;
	color: $white;
}
.btn-subscribe{
	border-radius: 0px;
	background-color: $light-purple;
	color: $white;
}
#contact-text{
	text-align: center;
}
#contact-form{
	background-color: $dark-purple;
	width: 50%;
	margin-left: 150px;
	    padding: 10px;
}
.footer-row{
	background-color: $dark-purple;
	margin-top: 50px;
}
.fa-twitter:before,
.fa-dribbble:before,
.fa-behance:before,
.fa-instagram:before{
	font-size: $icons-size;
	color:$white;
}
/*responsive*/
@media only screen and (max-width: 1260px){
	.work-boxes{
		width: 28%;
    height: 200px;
	}
	.text-boxes{
		width: 28%;
    height: auto;
		margin-left: 20px;
	}
}
@media only screen and (max-width: 396px){
	.text-boxes{
		margin-left: 19px;
	}
	.work-title{
		font-size: 13px;
	}
	.work-p{
		font-size: xx-small;
	}
}

/*bootstrap things*/
.row{
	margin-right: 0px;
	margin-left: 0px;
}
